@model TestLinkedIn.Web.ViewModels.SkillViewModel

<div>
    <strong>@Model.Name</strong>
    <span id="endorcements-@Model.Id">
        Count: @Model.EndorcementsCount
        Endorcers: @Html.DisplayFor(e => e.Endorcers)
    </span>

    @using (Ajax.BeginForm("EndorceUserForSkill", "Users", new { id = Model.Id }, new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = string.Format("endorcements-{0}", Model.Id)
    }))
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="+" />
    }
</div>